.cta{
    width: fit-content;
    padding: 1.2rem 3.2rem;
    text-align: center;
    border-radius: 999px;
    @media screen and (min-width: 768px) {
        width: auto;
        text-wrap: nowrap;
    }
    &.main{
        background: var(--tertier-color);
        color: var(--text-white);
        font-size: var(--text-md);
        font-weight: 700;
        letter-spacing: 1.2px;
        @media screen and (min-width: 768px) {
            font-size: var(--text-sm);
        }
    }
    &.sec{
        background: var(--primary-shade-color);
        color: var(--text-black);
        font-size: var(--text-md);
        font-weight: 700;
        letter-spacing: 1.2px;
        @media screen and (min-width: 768px) {
            font-size: var(--text-sm);
        }
    }
}