.search_container{
    width: 100%;
    background: var(--primary-shade-color);
    padding: 1rem 1.6rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
        padding-block: .5rem;
    }

    .search{
        font-size: 1.8rem;
        font-weight: 600;
        width: 100%;

        @media screen and (min-width: 768px) {
            font-size: var(--text-sm);
        }

        &::-webkit-search-cancel-button{
            appearance: none;
        }
        &::placeholder{
            font: inherit;
            color: var(--sec-shade-color);
        }
    }
}