@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #E8E9F5;
    --sec-color: #10111C;
    --tertier-color: #0019FF;
    --primary-shade-color: #B6BDFF;
    --sec-shade-color: #10111C75;

    --primary-font: "Montserrat", sans-serif;
    --text-white: #E8E9F5;
    --text-black: #10111C;
    --text-xl: 4rem;
    --text-lg: 2.4rem;
    --text-md: 1.6rem;
    --text-sm: 1.2rem;

    --padding-top: calc(4.2rem + 1rem + 1rem);

    @media screen and (min-width: 768px) {
        --text-xl: 6rem;
        --text-lg: 3.2rem;

        --padding-top: calc(3.5rem + 7.8rem);
    }

    --primary-gradient: linear-gradient(180deg, rgba(16,17,28,0) 0%, rgba(16,17,28,1) 100%);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: (.625 * 16px);
}

body,
html,
.wrapper{
    width: 100dvw;
    max-width: 100dvw;
    overflow-x: hidden;
}

.wrapper{
    padding-top: var(--padding-top);
    background: var(--primary-color);
}

h1,h2,h3,h4,h5,h6,p,b,strong,a,button,input,input::placeholder{
    font-family: var(--primary-font);
    font-optical-sizing: auto;
}

button,input,textarea{
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

button{
    display: flex;
}

a{
    color: var(--text-black);
    text-decoration: none;
}

ul{
    list-style: none;
}