.nav_head_mobile,
.nav_head_desktop{
    width: 100vw;
    background: var(--sec-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    position: fixed;
    top: 0;
}
.nav_head_mobile{
    padding: 1rem 1.4rem;
}
.nav_head_desktop{
    padding: 2.4rem 10.4rem;
}
.btn_group{
    display: flex;
    align-items: center;
    column-gap: 2.4rem;
}
.body_wrapper{
    @media screen and (min-width: 768px) {
        padding-inline: 10.4rem;
    }
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100dvh;
    padding: var(--padding-top) 2.4rem 3.2rem 2.4rem;
    background: var(--sec-color);
    z-index: 888;
    transform: translateX(100%);
    transition: transform .6s ease-in;

    &.isOpen{
        transform: translateX(0);
    }
}
.body_container{
    @media screen and (min-width: 768px) {
        row-gap: 2.4rem;
    }
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
}
.link_item{
    width: 80%;
    padding-left: 1.2rem;
    padding-bottom: 1.2rem;
    border-bottom: solid 2px var(--primary-color);
}
.link{
    font-size: var(--text-lg);
    font-weight: 500;
    color: var(--text-white);
}
.searchbar_container{
    position: fixed;
    top: var(--padding-top);
    background: var(--sec-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 1.6rem;
    transform: translateY(-100%);
    transition: transform .3s linear;

    @media screen and (min-width: 768px) {
        display: none;
    }
    
    &.isActive{
        transform: translateY(0);
    }
}

.nav_group_wrapper{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    width: 50%;
    height: 100%;
}